html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

table {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: content-box;
}

thead th {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
  box-sizing: content-box;
  text-align: left;
}

tbody tr {
  background-color: #ffffff;
}

tbody td {
  padding: 8px 10px;
  border-top: 1px solid #dddddd;
  box-sizing: content-box;
}

tbody tr:first-child td {
  border-top: none;
}

tbody tr:nth-of-type(odd){
  background-color: #f9f9f9;
}

tbody tr:last-child td {
  border-bottom: 1px solid #000000;
}

tbody tr:hover {
  background-color: #e0dede;
}

form {
  float: right;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-left: 0.5em;
  width: 200px;
  height: 25px;
}

button[type="submit"] {
  margin-left: -5px;
  background-color: #f9f9f9e8;
  width: 80px;
  height: 26px;
}

#paginator {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

#paginator a {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  border: 1px solid transparent;
  border-radius: 2px;
}

#paginator a:hover {
  color: white;
  border: 1px solid #111111;
  background-color: #585858;
}

#paginator .current {
  color: #333333 !important;
  border: 1px solid #979797;
  background-color: rgb(230, 228, 228);
}

.arrow {
  float: right;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcdcdc;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #dcdcdc;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.filtered {
  display: none;
}

.disabled {
  pointer-events: none; /* делаем ссылку некликабельной */
  cursor: default;  /* устанавливаем курсор в виде стрелки */
  color: #999; /* цвет текста для нективной ссылки */
}

.inactive{
  visibility: hidden;
}